<!-- keep in mind  the header and footer are split. header has the html boiler and footer has the body and html end tags-->

<%- include('./partials/header') %>

  <div class="container splash-page">
    <h1 class="title-greeting">Wecome!</h1>
    <div class="col message">
      <p>
        Ready to workout? Go ahead and tap on the Menu in the top right corner
        to checkout our exercise database. If you login with your Google
        account, you can create workout sessions as well as keep track and
        modify previous training sessions. Enjoy!
      </p>
    </div>
  </div>

<%- include('./partials/footer') %>
