<!-- keep in mind  the header and footer are split. header has the html boiler and footer has the body and html end tags-->

<%- include('./partials/header') %>
<div class="bgImg">
<h2>Home Page</h2>
</div>

<%- include('./partials/footer') %>