/*CSS*/

/*mobile first*/
body {
  background-image: url(../images/Background.jpg);
  /* width: 100vw; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

#partial_header {
  height: 5rem;
  width: 100vw;
  background-color: #003b6b;
  padding: 1rem 2rem;
}

/*homepage*/
.splash-page {
  margin-top: 4rem;
  width: 440px;
}

/*ejs layout formats*/
.title-greeting {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
  font-size: 10vw;
  text-align: center;
}
.title-greeting,
.sub-greeting {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
}

.message {
  font-size: 3vw;
  font-weight: bold;
}

.workout-section {
  margin: 1.5rem;
}

.workout-list-format {
  font-weight: bolder;
  font-size: larger;
}

.index-exercise-list {
  font-weight: bold;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover{
  color: red;
}


/* the overlay (background) */
#google-logo {
  height: 4rem;
  width: 4rem;
}

#overlay-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: #002340;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 5px 5px;
  border: none;
  border-radius: 10%;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}
#overlay-menu:hover {
  background-color: #464646;
  color: white;
}

/* close button position */
.closebtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 60px;
}

/* overlay reveal*/
.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

/* overlay contents in overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* overlay effects*/
.overlay a:hover,
.overlay a:focus {
  color: #464646;
}


/*desktop adjustments*/
@media screen and (min-width: 1000px) {
  
  /*homepage*/
  .splash-page {
  }
  
  /*ejs layout formats*/
  .title-greeting {
    font-size: 4rem;
  }
  .title-greeting,
  .sub-greeting {
    /* font-weight: bolder; */
  }
  
  .message {
    font-size: 2rem;
  }
  
  .workout-section {
  }
  
  .workout-list-format {
    /* font-weight: bolder;
    font-size: larger; */
  }
  
  .index-exercise-list {
  }
  
}