<%- include('../partials/header') %>

<section class="workout-section">
  <div>
    <div>
      <h1 class="title-greeting">Nice. Let's get to business.</h1>
      <h2 class="sub-greeting">Choose Your Workout</h2>
    </div>
    <% exercises.forEach(function(exercise){%>
    <ul class="workout-list">
      <li><a href="/exercises/<%= exercise._id %>"><%=exercise.name%></a></li>
    </ul>
    <%})%>
  </div>
</section>

<%- include('../partials/footer') %>
