<%- include('../partials/header') %>

<h1>Create a new regimen</h1>
    <form action="/exercises" method="POST">
      <!-- date -->
      <label for="DATE">DATE:</label>
      <input
        id="DATE"
        type="datetime-local"
        name="date"
        value="<%= new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)).toISOString().substr(0,16) %>"
        required
      />
      <br />
      <!-- Squat-->
      <label for="Squat">Squat:</label>
      <select name="squat" id="movement">
        <option value="1">Back Squat</option>
        <option value="2">Front Squat</option>
        <option value="3">1-Leg Squat</option>
        <option value="4">Goblet Squat</option>
        <option value="5">Wall Sit</option>
        <option value="6">Squat</option>
        <option value="7">Leg Press</option>
        <option value="8">1-Leg Leg Press</option>
        <option value="9">Sumo Squat</option>
        <option value="10">Split Squat</option>
        <option value="11">Bulgarian Squat</option>
        <option value="12">Overhead Squat</option>
        <option value="13">Suitcase Squat</option>
        <option value="14">Zercher Squat</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.squat.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.squat.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.squat.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.squat.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.squat.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />
      <!-- Hinge -->
      <label for="Hinge">Hinge:</label>
      <select name="hinge" id="movement">
        <option value="1">Deadlift</option>
        <option value="1">Sumo Deadlift</option>
        <option value="1">RDL</option>
        <option value="1">1-Leg RDL</option>
        <option value="1">Sumo Deadlift</option>
        <option value="1">Good Morning</option>
        <option value="1">Pull Throughs</option>
        <option value="1">KB Swing</option>
        <option value="1">Straight Leg Deadlift</option>
        <option value="1">Hip Extension</option>
        <option value="1">Back Extension</option>
        <option value="1">Bridge</option>
        <option value="1">Swing</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.hinge.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.hinge.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.hinge.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.hinge.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.hinge.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />
      <!-- Lunge -->
      <label for="Lunge">Lunge:</label>
      <select name="lunge" id="movement">
        <option value="">Step Up</option>
        <option value="">Side Step Up</option>
        <option value="">Step Down</option>
        <option value="">Transverse Lunge</option>
        <option value="">Forward Lunge</option>
        <option value="">Side Lunge</option>
        <option value="">Reverse Lunge</option>
        <option value="">Walking Lunge</option>
        <option value="">3-Way Lunge</option>
        <option value="">Clock Lunge</option>
        <option value="">Drop Lunge</option>
        <option value="">Bulgarain Lunge</option>
        <option value="">Stationary Lunge</option>
        <option value="">Crossover Lunge</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.lunge.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.lunge.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.lunge.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.lunge.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.lunge.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />
      <!-- pull -->
      <label for="Pull">Pull:</label>
      <select name="pull" id="movement">
        <option value="">Pull Up</option>
        <option value="">Chin Up</option>
        <option value="">Pulldown</option>
        <option value="">Reverse Grip Chin Up</option>
        <option value="">Neutral Grip Chin Up</option>
        <option value="">Medium Grip Chin Up</option>
        <option value="">Wide Grip Pull Up</option>
        <option value="">Row</option>
        <option value="">Face Pull</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.pull.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.pull.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.pull.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.pull.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.pull.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />
      <!-- Press -->
      <label for="Press">Press:</label>
      <select name="press" id="movement">
        <option value="1">Push Up</option>
        <option value="2">Kneeling Push Up</option>
        <option value="3">Incline Push Up</option>
        <option value="4">Decline Push Up</option>
        <option value="5">Incline Chest Press</option>
        <option value="6">Flat Chest Press</option>
        <option value="7">Decline Chest Press</option>
        <option value="8">Incline Chest Fly</option>
        <option value="9">Flat Chest Fly</option>
        <option value="10">Decline Chest Fly</option>
        <option value="11">Push Up</option>
        <option value="12">T Push Up</option>
        <option value="13">Floor Press</option>
        <option value="14">Standing Shoulder Press</option>
        <option value="15">Seated Shoulder Press</option>
        <option value="16">1-Arm Standing Shoulder Press</option>
        <option value="17">1-Arm Seated Shoulder Press</option>
        <option value="18">Arnold Press</option>
        <option value="19">Modified Arnold Press</option>
        <option value="20">Push Press</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.press.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.press.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.press.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.press.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.press.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />
      <!-- Core -->
      <label for="Core">Core:</label>
      <select name="core" id="movement">
        <option value="">'Kneeling Plank</option>
        <option value="">'Plank',</option>
        <option value="">'3-Point Plank',</option>
        <option value="">'2-Point Plank',</option>
        <option value="">'Plank with 1-Arm Row',</option>
        <option value="">'Ab Rollout',</option>
        <option value="">'Body Saw',</option>
        <option value="">'Stir the Pot',</option>
        <option value="">'Crunch',</option>
        <option value="">'Reverse Crunch',</option>
        <option value="">'Jackknife',</option>
        <option value="">'Pike'</option>
      </select>
      <label for="reps">Reps:</label>
      <input type="number" name="exercise.core.reps" min="0" max="9999" />
      <label for="sets">Sets:</label>
      <input type="number" name="exercise.core.sets" min="0" max="9999" />
      <label for="weight">Weight:</label>
      <input type="number" name="exercise.core.weight" min="0" max="9999" />
      <label for="rest">Rest (sec):</label>
      <input type="number" name="exercise.core.rest" min="0" max="9999" />
      <label for="equipment">equipment:</label>
      <select id="equipment" name="exercise.core.equipment">
        <option value="BB">BB</option>
        <option value="DB">DB</option>
        <option value="Cable">Cable</option>
        <option value="Bodyweight">Bodyweight</option>
        <option value="Band">Band</option>
        <option value="TRX">TRX</option>
        <option value="KB">KB</option>
        <option value="Machine">Machine</option>
        <option value="Mini Band">Mini Band</option>
        <option value="BOSU">BOSU</option>
        <option value="BalanceBeam">Balance Beam</option>
        <option value="Foam-Balance-Pad">Foam Balance Pad</option>
        <option value="Slidingdisc">Sliding Disc</option>
      </select>
      <br />

      <button type="submit">Create workout</button>
    </form>

    <%- include('../partials/footer') %>
