<%- include('../partials/header') %>

<section class="workout-section">
	<h1 class="sub-greeting">New Workout</h1>
		<form method="POST" action="/exercises">

			<p>
				<label>Name:</label> 
				<input type="text" name="name" required>
			</p>
			<p>
				<label>Sets:</label>
				<input type="number" name="sets" min="0" max="9999">
			</p>
			<p>
				<label>Reps:</label>
				<input type="number" name="reps" min="0" max="9999">
			</p>
			<p>
				<label>Weight:</label>
				<input type="number" name="weight" min="0" max="9999">
			</p>
			<p>
				<label>Equipment:</label>
				<input type="text" name="equipment">
			</p>
			<p>
			    <label>Description:</label>
				<textarea name="description"></textarea>
			</p>
		</form>
	</section>

	<!-- button mods -->
	<div class="menu-options">
		<button class="btn btn-secondary">
		  <a href="/exercises">Back</a>
		</button>
	
		<button class="btn btn-secondary" type="submit" value="Save">
			Save
		</button>

	  </div>

    <%- include('../partials/footer') %>
