<%- include('../partials/header') %>

<h1>Create your workout</h1>
<form action="/exercises" method="POST">

    <label for="exercise">Exercise:</label>
    <input type="text" name="exercise">
    <br>
    <button type="submit">Create workout</button>
</form>

<%- include('../partials/footer') %>
